<h1>Your favorites</h1>

<table>
  

  <tbody>
    <% @favorites.each do |favorite| %>
    
     <% p=favorite.post%>
     <% next if p.privacy == true && current_user != p.user %>
      <tr>
        
        <td> <%= link_to Favorite.find(favorite.id).post.user.nickname, user_posts_path(p.user.id) %> &nbsp; </td>
        <td><%= Favorite.find(favorite.id).post.title %>&nbsp;</td>
        <td><%= link_to 'Show post', user_post_path(user_id: p.user.id, id: p.id ) %> </td>         
        <td>  &nbsp; | <%= link_to 'Remove Favorite', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>