<h1>All users</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
     
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %></td>
        <td> &nbsp; <%= link_to 'Show profile', user %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', :back %>

<br>


